<div class="ui grid" ng-init="GetProduct()">
  <div class="eight wide column">
    <a onclick="window.history.back()" class="ui labeled icon button">
      <i class="left chevron icon"></i>
      Back
    </a>
    <div class="ui fluid image">
      <img ng-src="{{currProduct.imagelink}}">
    </div>
  </div>
  <div class="eight wide column">
    <h1 class="ui header">{{currProduct.name}}</h1>
    <h1 class="ui header">Rating: {{currProduct.rating}}/5</h1>
    <h2 class="ui header">Stock: {{currProduct.stock}}</h2>
    <h2 class="ui header">&euro; {{currProduct.price}}</h2>
    <div class="ui divider"></div>
    <div>
      <span>{{currProduct.description}}</span>
    </div>
    <div class="ui divider"></div>
    <div class="ui labeled input">
      <div class="ui label">
        Quantity: 
      </div>
      <input type="number" min="0" max="99" ng-init="qty = 1" ng-model="qty">
    </div>
    <button class="ui button" ng-click="Add()">Add</button>
    <span ng-bind="alreadyincart"></span>
  </div>
</div>