<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
               <h3 class="ui header">RomansSimpleShopApp - Capstone Project Front End Web Development</h3>
          <p><a href="http://www.rosenmayr.consulting/ng/DEV238x/" target="_blank">http://www.rosenmayr.consulting/ng/DEV238x/</a></p>
            <h2>Our Products of the week:</h2>
          <div class="row">

            <div style="padding:5px" >
              <p style="width:100%;text-align: center">{{prod[0].name}}</p>
            <a href="#!product?name={{prod[0].name}}" style="background-image:url({{prod[0].imagelink}}); background-repeat:no-repeat;">
              <img class="slide four" ng-src="{{prod[0].imagelink}}" />
            </a>
            </div>
            <div style="padding:5px" >
                <p style="width:100%;text-align: center"> {{prod[1].name}}</p>
            <a href="#!product?name={{prod[1].name}}" style="background-image:url({{prod[1].imagelink}}); background-repeat:no-repeat;">
              <img class="slide four" ng-src="{{prod[1].imagelink}}" />
            </a>
            </div>
            <div style="padding:5px" >
                <p style="width:100%;text-align: center"> {{prod[2].name}}</p>
             <a href="#!product?name={{prod[2].name}}" style="background-image:url({{prod[2].imagelink}}); background-repeat:no-repeat;">
               <img class="slide four" ng-src="{{prod[2].imagelink}}" />
             </a>
             </div>
             <div style="padding:5px" >
                <p style="width:100%;text-align: center"> {{prod[3].name}}</p>
             <a href="#!product?name={{prod[3].name}}" style="background-image:url({{prod[3].imagelink}}); background-repeat:no-repeat;">
               <img class="slide four" ng-src="{{prod[3].imagelink}}" />
             </a>
             </div>
             <div style="padding:5px" >
                <p style="width:100%;text-align: center"> {{prod[4].name}}</p>
             <a href="#!product?name={{prod[4].name}}" style="background-image:url({{prod[4].imagelink}}); background-repeat:no-repeat;">
               <img class="slide four" ng-src="{{prod[4].imagelink}}" />
             </a>
             </div>
            </div>


 
    </div>
  </div>
  <a href="#!shopping" class="ui huge fluid button">digest more products in this shop</a>
  <p>Demo application inspired by Warren Wongs Capstone Project </p>