<h2 class="ui header">
  Welcome to RomansSimpleShopApp 
  <a href="#!shopping" class="ui right floated labeled icon secondary button">
    Shop All
    <i class="right chevron icon"></i>
  </a>
</h2>
<h5 class="ui header">
  Digest a random selection of products .... 
  <span style="float:right">
    <div class="ui checkbox">
      <input type="checkbox" name="checkbox" ng-model="toggle" ng-change="AutoSlide()">
      <label>Toggle Slide Show</label>
    </div>
  </span>
</h5>
<div class="ui internally celled grid">
  <div class="row">
    <div class="one wide column nopad">
      <button class="ui left arrow-left fluid attached button" ng-click="ChangeSlide(false)">
        <i class="left chevron icon"></i>
      </button>
    </div>
    <div class="fourteen wide column">
      
      <div class="ui grid" id="slide1" style="display:none">
        <div class="column slide">
          <a href="#!product?name={{prod[0].name}}" style="background-image:url({{prod[0].imagelink}}); background-repeat:no-repeat;">
            <img class="slide" ng-src="{{prod[0].imagelink}}" />
          </a>
        </div>
      </div>
      
      <div class="ui two column grid" id="slide2">
        <div class="column slide">
          <a href="#!product?name={{prod[1].name}}" style="background-image:url({{prod[1].imagelink}}); background-repeat:no-repeat;">
            <img class="slide" ng-src="{{prod[1].imagelink}}" />
          </a>
        </div>
        <div class="column slide">
          <a href="#!product?name={{prod[2].name}}" style="background-image:url({{prod[2].imagelink}}); background-repeat:no-repeat;">
            <img class="slide" ng-src="{{prod[2].imagelink}}" />
          </a>
        </div>
      </div>
      
      <div class="ui two column grid" id="slide3" style="display:none">
        <div class="eight wide column slide">
          <a href="#!product?name={{prod[3].name}}" style="background-image:url({{prod[3].imagelink}}); background-repeat:no-repeat;">
            <img class="slide" ng-src="{{prod[3].imagelink}}" />
          </a>
        </div>
        <div class="eight wide column slide">
          <div class="row">
          <a href="#!product?name={{prod[4].name}}" style="background-image:url({{prod[4].imagelink}}); background-repeat:no-repeat;">
            <img class="slide four" ng-src="{{prod[4].imagelink}}" />
          </a>
          </div>
          <div class="row">
          <a href="#!product?name={{prod[5].name}}" style="background-image:url({{prod[5].imagelink}}); background-repeat:no-repeat;">
            <img class="slide four" ng-src="{{prod[5].imagelink}}" />
          </a>
          </div>
        </div>
      </div>
      
      <div class="ui two column grid" id="slide4" style="display:none">
        <div class="row">
          <div class="column slide">
          <a href="#!product?name={{prod[6].name}}" style="background-image:url({{prod[6].imagelink}}); background-repeat:no-repeat;">
            <img class="slide four" ng-src="{{prod[6].imagelink}}" />
          </a>
          </div>
          <div class="column slide">
          <a href="#!product?name={{prod[7].name}}" style="background-image:url({{prod[7].imagelink}}); background-repeat:no-repeat;">
            <img class="slide four" ng-src="{{prod[7].imagelink}}" />
          </a>
          </div>
        </div>
        <div class="row">
          <div class="column slide">
          <a href="#!product?name={{prod[8].name}}" style="background-image:url({{prod[8].imagelink}}); background-repeat:no-repeat;">
            <img class="slide four" ng-src="{{prod[8].imagelink}}" />
          </a>
          </div>
          <div class="column slide">
          <a href="#!product?name={{prod[9].name}}" style="background-image:url({{prod[9].imagelink}}); background-repeat:no-repeat;">
            <img class="slide four" ng-src="{{prod[9].imagelink}}" />
          </a>
          </div>
        </div>
      </div>
      
      
    </div>
    <div class="one wide column nopad">
      <button class="right fluid attached ui button" ng-click="ChangeSlide(true)">
        <i class="right chevron icon"></i>
      </button>
    </div>
  </div>
</div>